@(user: String, role: String, objekti: List[Objekat], stanja: List[StanjeObjekta], hitnosti: List[NivoHitnosti])
@main("Admin", user, role) {
<div class="table-responsive" id="table">
  <table class="table table-striped table-bordered table-hover table-condensed" style="margin-top: 20px;">
    <thead>
      <tr style="text-align:center;">
        <th>Objekat</th>
        <th>Opis</th>
        <th>Lokacija</th>
        <th>Tip nepogode</th>
        <th>Stanje objekta</th>
        <th>Nivo hitnosti</th>
        <th>Izvještaj</th>
        <th>Akcija</th>
      </tr>
    </thead>
    <tbody>
        @for(o <- objekti) {
	        <tr>
	        	<td width="10%">@o.getNaziv()</td>
                <td width="30%">@o.getOpis()</td>
	        	<td width="20%">@o.getLokacija()</td>
                <td width="10%">@o.getTipNepogode()</td>
	        	<td width="10%">@o.getStanjeObjekta()</td>
                <td width="10%">@o.getNivoHitnosti()</td>
            @if(o.getIzvjestaj() != null) {
                <td width="10%"><a href="@routes.Application.download(o.getId())" style="cursor:pointer;">Download</a></td>
            } else { 
                <td width="10%"><a href="@routes.Application.showObjectReport(o.getId())" style="cursor:pointer;">Dodaj izvještaj</a></td>
            }
                <td><a href="@routes.Application.showObject(o.getId())">Ažuriraj</a></td>
	        </tr>
        }
    </tbody>
  </table>
</div>
}