@(form: Form[Application.Register])
@if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
}
@main("Registracija") {
  <header>
  </header>
  @helper.form(routes.Application.addUser) {
    <div id="section_title"> Registracija
        <a href="@routes.Application.login"> Prijavi se </a>
    </div>
    <div class="input_form input_form_style">
      <div class="field">
        <label for="name"> Ime </label>
        <input type="name" name="name" placeholder="Ime">
      </div>
      <div class="field">
        <label for="surname"> Prezime </label>
        <input type="surname" name="surname" placeholder="Prezime">
      </div>
      <div class="field">
        <label for="email"> Email </label>
        <input type="email" name="email" placeholder="Email" value="@form("email").value">
      </div>
      <div class="field">
        <label for="password"> Šifra </label>
        <input type="password" name="password" placeholder="Šifra">
      </div>
      <div class="field">
        <label for="phone"> Broj telefona </label>
        <input type="phone" name="phone" placeholder="Broj telefona">
      </div>
      <div class="field">
        <label for="profession"> Zanimanje </label>
        <input type="profession" name="profession" placeholder="Zanimanje">
      </div>
      <div class="field">
        <button type="submit">Register</button>
      </div>
  }
}