@(user: String, role: String, objekat: Objekat, stanja: List[StanjeObjekta], hitnosti: List[NivoHitnosti],  form: Form[Application.EditObject], slike: List[SlikaObjekta])
@main("Objekat", user, role) {
	@helper.form(routes.Application.updateObject(objekat.getId())) {
	 <div id="section_title" style="text-align: center; color: #566473;"> @objekat.getNaziv() </div>
        <div id="form-frame">
          <div class="input_form">
            <div class="field">
             <strong>Lokacija</strong>
              <p> @objekat.getLokacija() </p>
              <input id="pac-input" class="controls" type="text" name="location" placeholder="Pretraga">
              <div id="map-canvas"></div>
			  <div class="field">
					<script type="text/javascript">
					var geocoder;
					var map;
					var lokacije=[];
					var trenutna=0;
					var marker;
					var infowindow = new google.maps.InfoWindow();
					
					function initialize() {
					geocoder=new google.maps.Geocoder();
					var mapOptions = {
						center: { lat: 43.9165389, lng: 17.6721508},
						zoom: 7
					};
					map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
					
						geocoder.geocode({address:"@objekat.lokacija".split(",", 2)[0]}, function(results, status){
							 if (status == google.maps.GeocoderStatus.OK ) {
								marker = new google.maps.Marker({
								position: results[0].geometry.location,
								map: map
								});
								
								google.maps.event.addListener(marker, 'click', (function(marker, i) {
									return function() {
										map.setZoom(9);
										map.setCenter(marker.getPosition());
										var content = '<div id="content">'+
										  '<div id="siteNotice">'+
										  '</div>'+
										  '<h4 id="firstHeading" class="firstHeading">@objekat.lokacija</h4>'+
										  '<div id="bodyContent">'+
										  '<p><b>@objekat.naziv</b> unistena prilikom <b>@objekat.tipNepogode.naziv</b>a </p>'+
										  '</div>'+
										  '</div>';
										infowindow.setContent(content);
										infowindow.open(map, marker);
									}
								})(marker, i));
							}
						});
					
					var infowindow = new google.maps.InfoWindow();
					var marker;
					for (var i = 0; i <lokacije.length; i++) {  
						marker = new google.maps.Marker({
							position: lokacije[0],
							map: map
						});

						google.maps.event.addListener(marker, 'click', (function(marker, i) {
							return function() {
								infowindow.setContent("amra");
								infowindow.open(map, marker);
							}
						})(marker, i));
					}
				}
				google.maps.event.addDomListener(window, 'load', initialize);
				
					</script>
			  </div>
            </div>          
          </div>
          <div class="input_form">
            <div class="field">
           	  <strong>Opis</strong>
              <p>@objekat.getOpis()</p>
            </div>
            <div class="field">
           	  <strong>Tip nepogode</strong>
              <p>@objekat.getTipNepogode()</p>
            </div>
            <div class="field">
              <strong> Stanje objekta </strong>
              <select name="objectState">
                @for(s <- stanja) {
                  @if(objekat.getStanjeObjekta == s.getNaziv) {
                    <option value=@s.getNaziv() selected> @s.getNaziv() </option>
                  } else { 
                    <option value=@s.getNaziv()> @s.getNaziv() </option>
                  }
                }
              </select>
            </div>
            <div class="field">
              <strong> Nivo hitnosti </strong>
	              <select name="emergencyLevel">
	                @for(h <- hitnosti) {
	                  @if(objekat.getNivoHitnosti == h.getNaziv) {
	                    <option value=@h.getNaziv() selected> @h.getNaziv() </option>
	                  } else { 
	                    <option value=@h.getNaziv()> @h.getNaziv() </option>
	                  }
	                }
	              </select>
            </div>
            <div class="field">
                <strong> Broj slika: @slike.length </strong>
                <div id="images">
                  @for(s <- slike) {
                   <a href="/assets/images/@s.getNaziv()" style="padding-top: 5px;"> @s.getNaziv() </a><br>
                  }
                </div>
            </div>
            <div class="field">
              <button type="submit" id="submit-button">Ažuriraj</button>
            </div>
     	</div>
    }
}